/* RESET  */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: black;
    
}

main {
    max-width: 1420px;
    display: flex;
    flex-wrap:wrap;
    margin: 60px;
    
   


}

.screen {
    color: white;
    width: 190px;
    height: 120px;
    margin: 3px 3px;
    background-image: url(img/view.jpeg);
    object-fit:cover;

}