/* RESET  */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    background-color: black;
    
}

main {
    width: 1420px;
    margin: 55px;
    
   


}

.screen {
    color: white;
    width: 197px;
    height: 130px;
    border: solid white;
    display: inline-block;
    background-image: url(img/cat2.jpg);
    object-fit:contain;
}